.wikipedia-preview {
  position: absolute;
  z-index: 100;
  background-color: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  max-width: 380px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.5;
  left: var(--left-position);
    top: var(--top-position);
}

.wikipedia-preview h3 {
  margin-top: 0;
  font-size: 16px;
  color: white;
  border-bottom: 2px solid var(--background-modifier-border);
  padding: 10px;
}

.wikipedia-preview h5 {
  margin-top: 0;
  font-size: 12px;
  color: white;
  border-bottom: 2px solid var(--background-modifier-border);
  padding: 10px;
}

.wikipedia-preview p {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.wikipedia-preview img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.wikipedia-preview-content {
  padding: 10px;
}

.wikipedia-preview-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
