.wikipedia-preview {
    position: absolute;
    z-index: 100;
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 15px;
    max-width: 380px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.5;
  }
  
  .wikipedia-preview h3 {
    margin-top: 0;
    font-size: 16px;
    color: white;
    border-bottom: 2px solid var(--background-modifier-border);
  }
  
  .wikipedia-preview p {
    margin: 0;
    margin-bottom: 10px;
  }

  .wikipedia-preview img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }